@{
    ViewBag.Title = "Page Not Found";
}

<div style="margin: 40px; min-height: 500px;">
    <h2>Page Not Found</h2>
    <div style="margin: 20px;">
        <p class="lead">We're sorry, the page you requested could not be found.</p>
        &nbsp;<br />
        @Html.ActionLink("Go Home", "Index", "Home")
    </div>
</div>
