@{
    ViewBag.Title = "Add New Role";
}

<h3>Add New Role</h3>

<form method="post">
    <label for="r">New Role</label>
    <input type="text" id="r" name="r" />
    <br />
    <br />
    <br />
    <input type="submit" class="btn btn-primary" value="Add Role" />
</form>
